*{
  padding:0;
  margin:0;
 font-family: 'Poiret One', cursive;
}

nav{
  text-align: center;
  height: 100px;
}

li{
  display:inline;
  margin: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.logo{
  width: 80px;
  height:80px;
}


h1{

  text-align: center;
  padding: 2em 5em 2.5em 5em;
  font-family: 'Poiret One', cursive;
  font-size: 4em;
}

h2{
   text-align: center;
   padding: 1em 0 1em 0;
   border-top: 1px solid #d3d3d3;
   font-family: 'Poiret One', cursive;
   margin-bottom: 0px;
   font-weight: bold;
}

h3{
  font-weight: bold;
  border-bottom: 1px solid black;

}

p{
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 2em 0 2em;
}

.card img{
  margin-top:2em;
  max-height: 60%;
  max-width: 60%;
}

.box{
  margin-top: -1px;
  height: 500px;
  text-align: center;

}

.lines{
  border-left:0px;
  border-right:0px;
}

body{
  background-image: url('../images/crossword.png')
}

footer{
  width:100%;
  height:100px;
  background-color: black;
  position: absolute;
  bottom: 0;
}

@media (max-width:1200px) {
  h1{
    font-size:2.5em;
    padding: 70px 100px 70px 100px;
  }
  .box{
    font-size: 120%;
    border:0px;
  }

  .skills{
    border-bottom:solid 1px lightgrey;
  }

  .frameworks{
    border-bottom: solid 1px lightgrey;
  }

}
