*{
  padding:0;
  margin:0;
 font-family: 'Poiret One', cursive;
 font-weight: bold;
}

nav{
  text-align: center;
  height: 100px;
}

li{
  display:inline;
  margin: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.logo{
  width: 80px;
  height:80px;
}

body{
  background-image: url('../images/crossword.png')
}

h1{
  text-align: center;
}

.social{
  text-align: center;
  margin-top:30px;
}

.social img{
  max-width: 50%;
}

.social img:hover{
  cursor: pointer;
}
