*{
  margin: 0;
  padding:0;
 font-family: 'Poiret One', cursive;
}
nav{
  text-align: center;
  height: 100px;
}

li{
  display:inline;
  margin: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}

.logo{
  width: 80px;
  height:80px;
}


.wrap{
  width: 60%;
  margin: auto;

}

.placeholder-project{
  height:auto;
  background-color: grey;
  margin: 0 0 0 3em;
  padding: 0px;
}

.project-memo{
  margin:0 0 0 6em;
}

.banner{
  width:100%;
  background-image: url('../images/footer_lodyas.png');
  height:35em;
  text-align: center;
}

.banner h1{
  font-size: 6em;
  color: white;
  margin-top: 1em;
}

.banner p{
  font-size:1.3em;
  color: white;
}

img{
  max-height: 100%;
  max-width: 100%;
}

footer{
  height:auto;
  background-color: #0c0c0c;
  color:white;
}
.wrapper{
  width:80%;
  margin: auto;
  height:500px;
}

#circle{
  text-align: center;
  background-color: white;
  min-height: 500px;
  padding-top: 30px;
  margin-top:30px;
  margin-bottom: 30px;
  margin-left: 95px;
  border: solid 1px lightgrey;
}

#circle img{
  height: 205px;
}

#circle p {
  font-weight: bold;
  min-height: 130px;
}

#circle button{
  font-weight: bold;
  width: 120px;

}
.block{
    height: 450px;
}

.project_logo{
  padding:30px 0 0 0;
}

#circle a{
    color: black;
}

@media (max-width:1200px) {
  .wrapper{
    width: 90%;
  }

  #circle{
    margin: 30px 0 0 0;
    padding:bottom:20px;
  }

  #circle p{
    height: auto;
  }
}

@media (max-width:992px){
  *{
    font-size: 130%;
  }

  li{
    font-size: 20px;

  }
  #circle a{
      color: black;
  }


}
