*{
  padding:0;
  margin:0;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

nav{
  text-align: center;
  height: 100px;
}

li{
  display:inline;
  margin: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.logo{
  width: 80px;
  height:80px;
}

.wrapper{
  width:60%;
  height: auto;
  margin: auto;
  margin-top: 2em;
}


#circle{
  text-align: center;
  background-color: white;
  min-height: 500px;
  padding-top: 30px;
  margin: 40px 0 0 0;
  border:solid 1px lightgrey;
}

#circle img{
  height: 205px;
}

#circle p {
  font-weight: bold;
  min-height: 130px;
}

#circle button{
  font-weight: bold;
  width: 120px;

}

.project_logo{
  padding:30px 0 0 0;
}
